main {
    width: 98.7vw;
}

main h1 {
    height: 54px;
}

.collapse {
    width: 100%;
    margin-top: 25px;
    border: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .collapse__button {
    width: 85%;
    padding: 12px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: #FF6060;
    cursor: pointer;
    border: none;
    outline: none;
    transition: background-color 0.3s;
  }
  
  .collapse__icon {
    font-size: 32px;
    transition: transform 0.3s;
    transform: rotate(0deg)
  }
  
  .expanded .collapse__icon {
    transform: rotate(180deg);
  }
  
  .collapse__content {
    width: 85%;
    align-content: center;
    margin: 0 auto;
    text-align:left;
    padding: 12px;
    color: #FF6060;
    border-radius: 5px;
  }

