.slideshow {
    width: 99vw;
    text-align: center;
        &__image {
        width: 97%;
        height: 415px;
        object-fit: cover;
        border-radius: 25px; 
        @media (max-width: 767.98px) {
            width: 93%;
            height: 255px;
            padding: 15px;
            border-radius: 40px;
            }  
        }
        &__buttons {
            display: flex;
            justify-content: space-between;
            &--left {
                border:none;
                color:white;
                text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
                background-color: rgba(0, 0, 0, 0);
                position: absolute;
                top: 230px;
                left: 50px;
                font-size: 150px;
                cursor:pointer;
                @media (max-width: 767.98px) {
                    font-size: 45px;
                    top: 200px;
                    left: 25px,
                    }  
                }
            &--right {
                border:none;
                color:white;
                text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
                background-color: rgba(0, 0, 0, 0);
                position: absolute;
                top: 230px;
                right: 50px;
                font-size: 150px;
                cursor:pointer;
                @media (max-width: 767.98px) {
                    font-size: 45px;
                    top: 200px;
                    right: 25px,
                    }
            }
        }

        &__counter {
            color:white;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
            position:absolute;
            top: 475px;
            left: 650px;
            @media (max-width: 767.98px) {
                display:none;
            }
        }
}
                


 
