/*Contient le style du slideshow et sa description (title & description,
host - nom et photo -, tags et rating)  */
/*Slideshow*/
.slideshow {
  width: 98.5vw;
  text-align: center;
}
.slideshow__image {
  width: 97%;
  height: 415px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
}
@media (max-width: 767.98px) {
  .slideshow__image {
    width: 93%;
    height: 255px;
    padding: 0 16px 0 15px;
    border-radius: 30px;
  }
}
.slideshow__buttons {
  display: flex;
  justify-content: space-between;
  align-items: normal;
}
.slideshow__buttons--left {
  border: none;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 230px;
  left: 50px;
  font-size: 150px;
  cursor: pointer;
}
@media (max-width: 767.98px) {
  .slideshow__buttons--left {
    font-size: 45px;
    top: 200px;
    left: 25px;
  }
}
.slideshow__buttons--right {
  border: none;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 230px;
  right: 50px;
  font-size: 150px;
  cursor: pointer;
}
@media (max-width: 767.98px) {
  .slideshow__buttons--right {
    font-size: 45px;
    top: 200px;
    right: 25px;
  }
}
.slideshow__counter {
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 475px;
  left: 650px;
}
@media (max-width: 767.98px) {
  .slideshow__counter {
    display: none;
  }
}

/*description fichelogement*/
.fichelogement {
  padding: 20px 10px 0 20px;
}
@media (max-width: 767.98px) {
  .fichelogement {
    padding-left: 15px;
  }
}
.fichelogement__titlehost {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.fichelogement__tagsrating {
  display: flex;
  justify-content: space-between;
  width: 99%;
}
@media (max-width: 767.98px) {
  .fichelogement__tagsrating {
    flex-wrap: wrap;
  }
}
.fichelogement__collapses {
  width: 95.5vw;
  display: flex;
  gap: 120px;
}
@media (max-width: 767.98px) {
  .fichelogement__collapses {
    width: 100%;
    gap: 0;
    flex-direction: column;
  }
}
.fichelogement__collapses button {
  width: 100%;
}
.fichelogement__collapses--left {
  width: 50%;
}
@media (max-width: 767.98px) {
  .fichelogement__collapses--left {
    width: 100%;
  }
}
.fichelogement__collapses--right {
  width: 50%;
}
@media (max-width: 767.98px) {
  .fichelogement__collapses--right {
    width: 100%;
  }
}
.fichelogement__collapses--right.expanded {
  display: flex;
  flex-direction: column;
}

/*Title and location*/
.title {
  color: #FF6060;
}
.title__title {
  font-size: 36px;
  font-weight: 500;
  margin: 0;
}
@media (max-width: 767.98px) {
  .title__title {
    font-size: 18px;
    font-weight: bold;
    width: 80%;
  }
}
.title__location {
  font-size: 18px;
}
@media (max-width: 767.98px) {
  .title__location {
    font-size: 14px;
  }
}

/*host*/
.host {
  display: flex;
  text-align: right;
}
@media (max-width: 767.98px) {
  .host {
    position: absolute;
    top: 483px;
    right: 12px;
  }
}
.host__name {
  color: #FF6060;
  font-size: 18px;
  padding-right: 15px;
  width: 50%;
  margin: 0;
}
@media (max-width: 767.98px) {
  .host__name {
    font-size: 12px;
    padding: 0;
    width: 50px;
  }
}
.host__image {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  align-items: end;
}
@media (max-width: 767.98px) {
  .host__image {
    width: 32px;
    height: 32px;
    padding-left: 5px;
  }
}

/*tags*/
.tags {
  color: white;
  display: flex;
  gap: 20px;
}
@media (max-width: 767.98px) {
  .tags {
    width: 100%;
  }
}
.tags__tag {
  background-color: #FF6060;
  font-size: 14px;
  border-radius: 10px;
  padding: 5px 25px 5px 25px;
}
@media (max-width: 767.98px) {
  .tags__tag {
    font-size: 10px;
    width: 100%;
    padding: 5px;
    text-align: center;
  }
}

/*rating*/
.rating {
  width: 15%;
  height: 24px;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 767.98px) {
  .rating {
    padding-top: 15px;
    height: 20px;
    width: 35%;
  }
}/*# sourceMappingURL=fichelogement.css.map */