/*slideshow*/

.slideshow {
    width: 99vw;
    text-align: center;
        &__image {
        width: 97%;
        height: 415px;
        object-fit: cover;
        border-radius: 25px; 
        @media (max-width: 767.98px) {
            width: 93%;
            height: 255px;
            padding: 15px;
            border-radius: 40px;
            }  
        }
        &__buttons {
            display: flex;
            justify-content: space-between;
            align-items: normal;
            &--left {
                border:none;
                color:white;
                text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
                background-color: rgba(0, 0, 0, 0);
                position: absolute;
                top: 230px;
                left: 50px;
                font-size: 150px;
                cursor:pointer;
                @media (max-width: 767.98px) {
                    font-size: 45px;
                    top: 200px;
                    left: 25px,
                    }  
                }
            &--right {
                border:none;
                color:white;
                text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
                background-color: rgba(0, 0, 0, 0);
                position: absolute;
                top: 230px;
                right: 50px;
                font-size: 150px;
                cursor:pointer;
                @media (max-width: 767.98px) {
                    font-size: 45px;
                    top: 200px;
                    right: 25px,
                    }
            }
        }

        &__counter {
            color:white;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
            position:absolute;
            top: 475px;
            left: 650px;
            @media (max-width: 767.98px) {
                display:none;
            }
        }
}
    

/*description fichelogement*/

.fichelogement {
    padding: 20px 0 0 20px;
    &__titlehost {
        display: flex;
        justify-content: space-between;
        padding:0;
    }
    &__tagsrating {
        display:flex;
        justify-content: space-between;
        width: 99%;
        @media (max-width: 767.98px) {
            flex-wrap: wrap;
           
        }
    }
    &__collapses {
        display: flex;
        justify-content: space-between;
        width: 100%;
        @media (max-width: 767.98px) {
        flex-direction: column;
        }
        &--left {
            width: 50%;
            @media (max-width: 767.98px) {
                width: 100%;
            }       
        }
        &--right {
            width: 50%;
            @media (max-width: 767.98px) {
                width: 100%;
            }
        }
    }
}

/*Title and location*/
.title {
    color: #FF6060;
    &__title {
        font-size: 36px;
        font-weight: 500;
        margin:0;
        @media (max-width: 767.98px) {
            font-size: 18px;
        }
    }
    &__location {
        font-size: 18px;
        @media (max-width: 767.98px) {
            font-size: 14px;
        }
    }
}


/*host*/

.host{
    display: flex;
    text-align: right;
    &__name {
    color: #FF6060;
    font-size: 18px;
    padding-right: 5px;
    width: 50%;
    margin:0;
    @media (max-width: 767.98px) {
        font-size: 12px;
    }
    }
    &__image {
        width: 64px;
        height:64px;
        border-radius: 50%;
        padding:0;
        margin:0;
        @media (max-width: 767.98px) {
            width: 32px;
            height: 32px;
        }
    }
}

/*tags*/

.tags {
    color: white;
    display: flex;
    gap: 20px;
    &__tag {
        background-color: #FF6060;
        font-size: 14px;
        border-radius: 10px;
        padding: 5px 25px 5px 25px;
        @media (max-width: 767.98px) {
            font-size: 10px;
            width: 100%;
        }
    }
}

/*rating*/

.rating {
    width: 15%;
    height: 24px;
    display:flex;
    justify-content: space-around;
    @media (max-width: 767.98px) {
        padding-top: 10px;
        height: 13px;
        width: 50%;
        align-items: flex-start;
        
    }
}
