
/*Contient le style du body (général), header, footer*/

/*Variables*/
$main-color: #FF6060;
$white-text: white;
$text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

/*Body général*/

*{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    @media (max-width: 767.98px) {
        font-size: 14px;
        }

}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;  
    font-family: 'Montserrat', sans-serif;

}

/*Header*/

header {
    padding: 25px;
    display: flex;
    text-decoration: none;

    @media (max-width: 767.98px) {
    padding: 20px;
    }

    .header__logo {
        padding-left: 5px;
        @media (max-width: 767.98px) {
            width: 39%;
            height: 46px;
            padding:0;
        }
    }

    nav {
       width: 100%;
       display: inline-block;
       justify-content: center;

       @media (max-width: 767.98px) {
        display: flex;
        justify-content: flex-end;
        height: 46px;
        }  
    }

        li {
            display: flex;
            justify-content: flex-end;
            gap: 90px;
        }

            @media (max-width: 767.98px) {
                li {
                    display: flex;
                    justify-content: flex-end;
                    gap: 30px;
            }      
        }
            a {
                text-decoration: none;
                color: $main-color;
                padding: 25px 0 5px 0px;

                @media (max-width: 767.98px) {
                    text-transform: uppercase;
                    font-size: 12px;
                }
            }

            a:hover {
                border-bottom: 2px solid $main-color;
            }  
}

/*Footer*/
    
footer {
    background-color: black;
    color: $white-text;
    margin-top: 50px;
    display: flex;
    justify-content: center;

    .footer__items {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @media (max-width: 767.98px) {
        width: 100%;
    }

    img {
        height: 39px;
        width: 122px;
        padding: 25px;

       @media (max-width: 767.98px) {
        padding: 25px 25px 5px 25px;
       }
    }
    
    @media (max-width: 767.98px) {
        p {
        font-size: 12px;
        margin-bottom: 30px;
        width: 60%;
        text-align:center;
        }
    }
}